body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Fondo del menu (nav)*/
.fondoMenu{
    background-image: linear-gradient(to right, #22c5ee,#02f7ff); 
}

/*Estilos editados del boton principal*/
.backgroundBtn{
    background-image: linear-gradient(to right, #22c5ee,#02f7ff);
}
.pulse::before{
    background-image: linear-gradient(to right, #22c5ee,#02f7ff);
}
/*Altura de titulo del nav*/
.titleNav{
    font-size: 18px;
}
/*magenes de card principal para agregar items*/
.cardDeTareas{
    margin: 40px 0px;
}
/*card donde salen los datos de los items*/
.card{
    border-radius: 10px;
}
.outputTask{
    display: flex;
    flex-wrap: wrap;

}
.cardOutput{
    width: 45%;
    height: auto;
}
.cardOutput{
   padding: 24px;
   margin: 20px;
}

/*footer*/

footer{
    /* background: #333333; */
    padding: 2rem 0;
    text-align: center;
    color: #000;
  }
  footer a {
    text-decoration: none;
    color: #000;
  }




